
/* Micro reset */

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1;
}
table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

/* Basic typography */

html {
  font-size: 100%;
  font-family: sans-serif;
  font-weight: 300;
}

/* Responsive font sizes */

@media (min-width:  480px) { html { font-size: 1.1em; } }
@media (min-width:  520px) { html { font-size: 1.2em; } }
@media (min-width:  600px) { html { font-size: 1.3em; } }
@media (min-width:  800px) { html { font-size: 1.4em; } }
@media (min-width:  960px) { html { font-size: 1.5em; } }
@media (min-width: 1040px) { html { font-size: 1.7em; } }
@media (min-width: 1128px) { html { font-size: 1.9em; } }
@media (min-width: 1200px) { html { font-size:   2em; } }

/* Day/night modes (inverse) */

body.night,
body.day {
  transition: background-color .3s linear;
}
body.night {
  background: #2d3037;
  color: #a9adbb;
}
body.day {
  background: #fdfdfd;
  color: #536370;
}

/* Day/night table colors */

body.night main > table { border-color: #40424b; }
body.day   main > table { border-color: #dcdcdc; }

/* TODO: Striping?
body.night main > table thead    { background: #32353f; }
body.night main > table tbody tr { background: #27292f; }
body.day   main > table tr       { background: #f1f1f1; } */

/* Data types coloring */

.date    { color: #80b4c2; }
.integer { color: #c09a61; }
.varchar { color: #c16d74; }
.char    { color: #ae77e0; }

body.night .date:before,
body.night .integer:before,
body.night .varchar:before,
body.night .char:before {
  color: #a9adbb;
}

body.day .date:before,
body.day .integer:before,
body.day .varchar:before,
body.day .char:before {
  color: #536370;
}

/* Main page layout */

header,
main,
section {
  display: block;
  box-sizing: border-box;
  width: 98%;
  margin: 0 auto;
  padding: .1em;
}

/* Header, and control section */

header,
section {
  font-size: 50%;
  padding: 1em;
  text-align: right;
}

section {
  text-align: left;
}

section > ul,
header > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
section > ul > li,
header > ul > li {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

/* Main table content container */

main {
  overflow-x: auto;
}

/* The Tabor Table! */

main > table {
  width: 100%;
  border: 1px solid;
  border-color: inherit;
}
main > table tr {
  border: 1px solid;
  border-color: inherit;
  padding: .2em;
}
main > table th,
main > table td {
  padding: .6em;
  text-align: center;
}
main > table th {
  text-transform: uppercase;
  font-weight: 500;
}

/* Responsive table, for small viewports
   Based on a Code Pen by Captain Anonymous
   http://codepen.io/anon/pen/QwPVNW */

@media (max-width: 600px) {
  main > table {
    border: 0;
  }
  main > table thead {
    display: none;
  }
  main > table tr {
    margin-bottom: 1em;
    display: block;
    border: 1px solid;
    border-color: inherit;
    padding: 0;
  }
  main > table td {
    display: block;
    text-align: right;
    border-bottom: 1px dashed;
    border-color: inherit;
  }
  main > table td:last-child {
    border-bottom: 0;
  }
  main > table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: 400;
  }
}

/*  Pure CSS toggle buttons
    By Mauricio Allende
    http://codepen.io/mallendeo/details/eLIiG */

.tgl {
  display: none;
}
.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}
.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease;
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all .2s ease;
}
.tgl-light:checked + .tgl-btn {
  background: #9FD6AE;
}
