<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Tabor Table</title>
  <link rel="stylesheet" href="css/style.css">
  <!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
  <header>
    <ul>
      <li>Toggle day or night mode</li>
      <li>
        <input class="tgl tgl-light" id="cb1" type="checkbox" onclick="tabortable.toggleDayNight();">
        <label class="tgl-btn" for="cb1"></label>
      </li>
    </ul>
  </header>
  <section>
    <ul>
      <li>
        <form>
          <select name="t" onchange="this.form.submit();">
            {{#tables}}
            <option {{selected}}>{{name}}</option>
            {{/tables}}
          </select>
        </form>
      </li>
    </ul>
  </section>
  <main>
    {{#table}}
    <table data-columns="{{columns.size}}">
      <thead>
        <tr>
          {{#columns}}
          <th title="{{name}}">{{name}}</th>
          {{/columns}}
        </tr>
      </thead>
      <tbody>
        {{#rows}}
        <tr>
          {{#columns}}
          <td data-label="{{name}}" class="{{type.toLowerCase}}" title="{{value}}">{{{value}}}</td>
          {{/columns}}
        </tr>
        {{/rows}}
      </tbody>
    </table>
    {{/table}}
  </main>
  <script src="js/main.js"></script>
</body>

</html>
