<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Tabor Table</title>
  <link rel="stylesheet" href="css/style.css">
  <!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
  <header>
    <ul>
      <li>Toggle day or night mode</li>
      <li>
        <input class="tgl tgl-light" id="cb1" type="checkbox" onclick="tabortable.toggleDayNight();">
        <label class="tgl-btn" for="cb1"></label>
      </li>
    </ul>
  </header>
  {{#tables}}
  <section>
    <select>
      {{#.}}
      <option>{{name}}</option>
      {{/.}}
    </select>
  </section>
  {{/tables}}
  <main>
    <table>
      <thead>
        <tr>
          <th>label</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="label">value</td>
        </tr>
      </tbody>
    </table>
  </main>
  <script src="js/main.js"></script>
</body>

</html>
